<aside class="bg-blue-600 text-white w-56 min-h-screen p-4 absolute lg:relative lg:transform-none transform -translate-x-full lg:translate-x-0 transition-transform duration-300"
       id="sidebar">
    <div class="flex items-center space-x-4 p-4 mb-2">
        <a asp-controller="Admission" asp-action="Biodata" class="text-4xl font-bold">SUC</a>
    </div>
    <nav class="space-y-2">
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Biodata">
            <span class="material-icons">person</span>
            <span>Biodata</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Academic">
            <span class="material-icons">menu_book</span>
            <span>Academic</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Program">
            <span class="material-icons">info</span>
            <span>Program</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="References">
            <span class="material-icons">group</span>
            <span>References</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Documents">
            <span class="material-icons">description</span>
            <span>Documents</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Photo">
            <span class="material-icons">image</span>
            <span>Photo</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Summary">
            <span class="material-icons">summarize</span>
            <span>Summary</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Verify">
            <span class="material-icons">verified</span>
            <span>Verify</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Status">
            <span class="material-icons">
                signal_wifi_statusbar_null
            </span>
            <span>Status</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Admission" asp-action="Admission">
            <span class="material-icons">
                book_online
            </span>
            <span>Admission</span>
        </a>
    </nav>
</aside>