<aside class="bg-blue-600 text-white w-56 min-h-screen p-4 absolute lg:relative lg:transform-none transform -translate-x-full lg:translate-x-0 transition-transform duration-300 z-40"
       id="sidebar">
    <div class="flex items-center space-x-4 p-4 mb-2">
        <a asp-controller="Home" asp-action="Index" class="text-4xl font-bold">SUC</a>
    </div>
    <nav class="space-y-2">
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Home" asp-action="Index">
            <span class="material-icons">dashboard</span>
            <span>Dashboard</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Applicants" asp-action="Index">
            <span class="material-icons">group</span>
            <span>Applicants</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="ApplicantDocuments" asp-action="Index">
            <span class="material-icons">folder</span>
            <span>Documents</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Tokens" asp-action="Index">
            <span class="material-icons">token</span>
            <span>Tokens</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Refrees" asp-action="Index">
            <span class="material-icons">group</span>
            <span>Referees</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Groups" asp-action="Index">
            <span class="material-icons">group</span>
            <span>Groups</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Roles" asp-action="Index">
            <span class="material-icons">accessibility_new</span>
            <span>Roles</span>
        </a>
        <a class="flex items-center space-x-2 text-white active:bg-blue-800 hover:bg-blue-800 p-2 rounded" asp-controller="Users" asp-action="Index">
            <span class="material-icons">person</span>
            <span>Users</span>
        </a>
        <div class="relative">
            <button class="flex items-center space-x-2 text-white hover:bg-blue-800 p-2 rounded w-full"
                    onclick="toggleDropdown('systemSetting')">
                <span class="material-icons">settings</span>
                <span>Settings</span>
                <span class="material-icons ml-auto">
                    expand_more
                </span>
            </button>
            <div class="hidden bg-blue-800 mt-1 space-y-2 p-2 rounded"
                 id="systemSetting">
                <a class="block text-white hover:bg-blue-900 p-2 rounded" asp-action="Index" asp-controller="Colleges">
                    Colleges
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded" asp-action="Index" asp-controller="Degrees">
                    Degrees
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded" asp-action="Index" asp-controller="Departments">
                    Departments
                </a>
            </div>
        </div>
        <div class="relative">
            <button class="flex items-center space-x-2 text-white hover:bg-blue-800 p-2 rounded w-full"
                    onclick="toggleDropdown('typeSettings')">
                <span class="material-icons">settings</span>
                <span>Type Settings</span>
                <span class="material-icons ml-auto">
                    expand_more
                </span>
            </button>
            <div class="hidden bg-blue-800 mt-1 space-y-2 p-2 rounded"
                 id="typeSettings">
                <a class="block text-white hover:bg-blue-900 p-2 rounded" asp-action="Index" asp-controller="CollegeTypes">
                    College Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="CountryTypes">
                    Country Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="CountyTypes">
                    County Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="DocumentTypes">
                    Document Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="GenderTypes">
                    Gender Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="MaritalStatusTypes">
                    Marital Status Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="NationalityTypes">
                    Nationality Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="OccupationTypes">
                    Occupation Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="RelationshipTypes">
                    Relationship  Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="ReligionTypes">
                    Religion Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="StatusTypes">
                    Status Types
                </a>
                <a class="block text-white hover:bg-blue-900 p-2 rounded"
                   asp-action="Index" asp-controller="TitleTypes">
                    Title Types
                </a>
            </div>
        </div>
    </nav>
</aside>