@model College
@{
    ViewData["Title"] = "Edit College";
}
<div class="grid grid-cols-1 bg-white rounded-md mx-auto shadow-sm">
    <div class="rounded-t-md bg-blue-600 p-3">
        <h3 class="text-white text-lg">@ViewData["Title"]</h3>
    </div>
    <div>
        <form asp-action="Edit" method="post">
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-4 p-5">
                <div class="mb-2">
                    <label class="block mb-3">College Type</label>
                    @Html.DropDownList("CollegeTypeID", (SelectList)ViewBag.CollegeTypeID, "Select College Type", new { @class = "p-2 border border-blue-600 bg-gray-100 rounded-md w-full" })
                </div>
                <div class="mb-3">
                    <label class="block mb-3">Name</label>
                    <input asp-for="Name" class="p-2 border border-blue-600 bg-gray-100 rounded-md w-full" />
                </div>
                <div class="mb-3">
                    <label class="block mb-3">Short Name</label>
                    <input asp-for="ShortName" class="p-2 border border-blue-600 bg-gray-100 rounded-md w-full" />
                </div>
                <div class="mb-3">
                    <label class="blockquote mb-3">Phone Number</label>
                    <input asp-for="PhoneNo" class="p-2 border border-blue-600 bg-gray-100 rounded-md w-full" />
                </div>
                <div class="mb-3">
                    <label class="blockquote mb-3">Email Address</label>
                    <input asp-for="EmailAddress" class="p-2 border border-blue-600 bg-gray-100 rounded-md w-full" />
                </div>
                <div class="mb-3">
                    <label class="blockquote mb-3">Address</label>
                    <input asp-for="Address" class="p-2 border border-blue-600 bg-gray-100 rounded-md w-full" />
                </div>
                <div class="p-3">
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "p-2 border border-blue-600 bg-gray-100 rounded-md mr-2" })
                    <label for="IsActive">Is Active</label>
                </div>
                <div class="mb-3">
                    <button class="bg-green-600 hover:bg-green-700 text-white p-2 rounded-md w-full">Update</button>
                </div>
                <div class="mb-3">
                    <a asp-action="Index" class="bg-gray-100 hover:bg-gray-200 rounded-md text-center p-2 block">Back To List</a>
                </div>
                <div></div>
            </div>
        </form>
    </div>
</div>